<style>
  .demo {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: #333;
  }
</style>

<script src="./vue.js"></script>

<div id="app">
  <div class="demo" :style="myStyle"></div>
  <hr />
  <label>Color:</label>
  <input type="color" v-model="color" />
  <label>Width:</label>
  <input type="range" min="1" max="100" value="20" v-model="width" />
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      color: "#333333",
      width: 20,
    },
    computed: {
      myStyle: function () {
        return {
          backgroundColor: this.color,
          width: this.width + "%",
        };
      },
    },
  });
</script>
